<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Password</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card-header">
                <h3 th:text=" 'Update Profile ' + ${#httpServletRequest.remoteUser}">Login as</h3>
            </div>
            <div class="card-body">
                <div id="alertMessage" class="alert-danger" th:text="${errorMessage}"></div>

                <form th:action="@{/user/userUpdate}" th:object = "${user}" method="post">
                    <div class="row form-group">
                        <input class="col-sm-8 form-control input-sm" type="hidden" name="username" th:value="${user.username}">
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-4"> Old Password: </label>
                        <input class="col-sm-8 form-control input-sm" id="oldPassword" type="password" name="oldpassword" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}">
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-4"> New Password: </label>
                        <input class="col-sm-8 form-control input-sm" id="newPassword" type="password" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}">
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-4"> Confirm Password: </label>
                        <input class="col-sm-8 form-control input-sm" id="confirmPassword" type="password" name="password" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}">
                    </div>
                    <span id="error" style="display:none">Password mismatch</span>
                    <div class="row form-group">
                        <input class="col-sm-8 form-control input-sm" type="hidden" name="role" th:value="${user.role}">
                    </div>
                    <div>
                        <button id="submitButton" type="submit" class="btn btn-primary" disabled>Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type = "text/javascript">
    var password = document.getElementById("newPassword"),
        confirmPassword = document.getElementById("confirmPassword");

    function validatePassword(){
        if(password.value == confirmPassword.value) {
            document.getElementById("submitButton").removeAttribute("disabled")
        }
        else{
            document.getElementById("submitButton").setAttributeNode("disabled")
            console.log("gagal")
        }
    }

    confirmPassword.onchange = validatePassword;

</script>
</body>
</html>